@import "tailwindcss";

.bg-gradient-image {
border-radius: 20px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 38.46%, #121212 30.48%), url('../assets/images/olympiads/austronaut.png') no-repeat;
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%;
}

.image-fade {
  mask-image: linear-gradient(to left, transparent, black 30%);
  -webkit-mask-image: linear-gradient(to right, transparent, black 30%);
}

