<footer
    class="bg-black text-white px-4 py-8 flex items-center justify-center  mt-10"
  >
    <div
      class="flex flex-col items-center justify-between text-center gap-8 md:flex-row w-full max-w-[1280px]"
    >
      <strong class="text-xl font-bold flex items-center gap-2">
        <i class="ph ph-planet text-[32px] stroke-3"></i>
        Elorepx
      </strong>

      <p class="text-[#a5a5a5] text-base">
        © 2025 Elorepx — Uma plataforma dedicada à exploração do conhecimento
        científico.
      </p>

      <button
        class="flex border py-2.5 px-3 gap-2 rounded-lg items-center justify-center hover-button transition-colors cursor-pointer hover:bg-white hover:text-black"
      >
        <span>Voltar ao topo</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-up-icon lucide-chevron-up"><path d="m18 15-6-6-6 6"/></svg>
      </button>
    </div>
  </footer>